<ngx-spinner type="type">
  <div class="loading-center"></div>
</ngx-spinner>

<app-nav></app-nav>
<title>{{title}}</title>


<div class="container">
  <div class="container"
    style="margin-top: 100px; position: absolute; background: linear-gradient(135deg, #9faeff90 25% , #ff9fc890 75% ); border-radius: 40px;">
    <router-outlet style="position: relative;"></router-outlet>
  </div>
</div>

<div class="hinhnen d-flex justify-content-center">
  <video playsinline autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source
      src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1406990/915b1b4a05133186525a956d7ca5c142a3c3c9f3.webm"
      type="video/webm">
    <source
      src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1406990/f5e956f69e888392812e8ddcf4a5ef10dc03bad7.mp4"
      type="video/mp4">
  </video>
</div>
