<ngx-spinner type="pacman">
  <h3 style="color: white;">Loading...</h3>
</ngx-spinner>

<app-nav></app-nav>
<title>{{title}}</title>


<div class="container">
  <div class="container"
    style="margin-top: 100px; position: absolute; background: linear-gradient(135deg, #9faeff90 25% , #ff9fc890 75% ); border-radius: 40px;">
    <router-outlet style="position: relative;"></router-outlet>
  </div>
</div>

<div class="hinhnen d-flex justify-content-center">
  <video playsinline autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="{{videoURL[0]}}" type="video/webm">
    <source src="{{videoURL[1]}}" type="video/mp4">
  </video>
</div>
